@import "../_variables.scss";

.bottom {

    h3 {
        margin-bottom: 2px;
        margin-top: 0;
    }

    &__arrow {
        width: 67px;
        height: 67px;
        background-image: url(../../img/arrow.png);
        margin: 0 auto 20px;
        background-repeat: no-repeat;
    }

    &__info {
        background-color: $primary-green;
        color: #fff;
        font-size: 18px;
        padding: 12px 0;
        
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__title {
        text-transform: uppercase;

    }

    &__callback {
        color: #94989d;
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    &__form {
        max-width: 310px;
        margin: 0 auto;
        // padding: 0 10px;
        font-size: 16px;

        label {
            text-align: left;
        }

        input {
            width: 88%;
            border-radius: 12px;
            font-size: 16px;
        }
    }

    &__form-wrapper {
        background-color: #bfd2d1;
        border-radius: 12px;
        margin-bottom: 12px;
        padding: 20px 0;
    }
}