@import "../_variables.scss";

.header {
    @include divider();

    &__flag {
        // background-image: url(../../img/flag.png);
        // background-repeat: no-repeat;
        // background-size: cover;
        // width: 430px;
        // height: 71px;


    }

    &__flag-colors {
        height: 18px;

        &--white {
            background-color: #fff; 
        }
        &--blue {
            background-color: #31b9b4;
        }
        &--red {
            background-color: #b93131;
        }
    }

    &__title {
        color: #31b9b4; 
        text-transform: uppercase;
        margin: 0;
    }

    &__pic {
        background-image: url(../../img/weightLoss.png);
        height: 156px;
        background-repeat: no-repeat;
        // background-size: cover;
        background-position: 50% 50%;
    }

    &__timer {
        color: #298f8b;
    }
}