@import "../_variables.scss";

.reviews {

    h3 {
        color: $primary-green;
        margin-top: 24px;
    }

    &__review:not(:last-child) {
        @include divider();
    }

    &__user-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 12px;
    }

    &__user-avatar {
        width: 45px;
        height: 45px;
        background-image: url(../../img/userAvatar1.png);
        margin-right: 24px;

        &--2 {
            background-image: url(../../img/userAvatar2.png);
        }
    }

    &__user-name-date {
        // display: inline-block;
        text-align: left;
        font-size: 12px;

        p {
            margin: 0;
        }
    }

    &__text {
        text-align: left;
        font-size: 12px;
        margin-bottom: 12px;
    }

    &__user-name {
        color: #426499;
            }

    &__user-date {
        color: #94989d;
    }

    &__pic {
        width: 264px;
        height: 182px;
        background-image: url(../../img/user1.png);
        margin: 0 auto 22px;
        background-repeat: no-repeat;

        &--2 {
            background-image: url(../../img/user2.png);
        }
    }
}