@import "../_variables.scss";;

.reviews {
    h3 {
        color: $primary-green;
    }

    &__user-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    &__user-avatar {
        width: 45px;
        height: 45px;
        background-image: url(../../img/userAvatar1.png);
        margin-right: 24px;
    }

    &__user-name {
        // display: inline-block;
    }
}