.timer-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #298f8b;
    font-size: 18px;
    margin-bottom: 14px;

    &--bottom {
        font-size: 21px;
    }

    &__warning {
        margin-right: 8px;
    }

    &__time {
        div {
            float: left;
            // font-size: 18px;
        }
    }
}
