// @import 'blocks/header';

textarea, input, button { outline: none; }

body {
	font-family: Arial, serif;  
}      

.body-wrapper {
    background-color: #bae0b3;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
}

.content-wrapper {
    max-width: 430px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.container {
    padding: 0 15px;
}

.btn {
    border-radius: 10px;
    border: 0;
    padding: 15px 0;
    color: white;
    width: 96%;
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    background: #661212;
    // background: linear-gradient(234deg, #FF0000 0%, #661212 80%);
    background: linear-gradient(45deg, #661212 20%, #ff0000 100%);
    cursor: pointer;
    box-shadow: 0 0 8px #000;

    &:hover {
        background: #cc0000;
    }

    &__span {
        position: relative;
        padding-right: 20px;

       &::after {
            position: absolute;
            top: 20%;
            // transform: translateX(-50%);
            right: -6px;
            content: "";
            width: 20px;
            height: 20px;
            background-image: url(../../img/play.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }   
    }
}




